$fontPaht: "../sources/icons";
$stageHeight: 720px;
$imgFigureWidth: 360px;
$imgFigureHeight: 230px;
$imgWidth: 320px;
$imgHeight: 180px;


@font-face {
  font-family: "icons-turn-arrow";
  src: url($fontPaht + "/turn-arrow.eot") format("embedded-opentype"), url($fontPaht + "/turn-arrow.woff") format("woff"), url($fontPaht + "/turn-arrow.ttf") format("truetype"), url($fontPaht + "/turn-arrow.svg") format("svg");
}

html, body{
  width: 100%;
  height: 100%;
  
  background-color: #222;
}

//stage
.stage {
  position: relative;
  width: 100%;
  height: $stageHeight;
}

/*--img style start--*/
//整个图片框架样式
.img-sec {
  position: relative;
  width: 100%;
  height:100%;
  overflow: hidden;
  background-color: #ddd;

  //使用at-root,使样式生成在根一级，不被包含
  @at-root {
    //每一个图片对象样式
    .img-figure {
      position: absolute;
      width: $imgFigureWidth;
      height: $imgFigureHeight;
      margin: 0;
      padding: 15px 19px;
      background-color: #F8F5EC;
      border-radius: 10px;
      box-sizing: border-box;
      cursor: pointer;
      
      transform-origin: 0 50% 0;
      transform-style: preserve-3d;
      transition: transform .6s ease-in-out, left .6s ease-in-out, top .6s ease-in-out;


      img {
        width: $imgWidth;
        height: $imgHeight;
        border-radius: 10px;
      }

      &.is-inverse {
        transform: translate($imgWidth) rotateY(180deg);
      }
    }

    figcaption {
      text-align: center;
        color: #a7a0a2;
      
      .img-title {
        margin:5px 0 0 0;
        font-size: 16px;
      }

      .img-back {
        position: absolute;
        background: #fff;
        border-radius: 10px;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 50px 40px;
        overflow: auto;
        font-size: 22px;
        line-height: 1.25;
        text-align: left;
        box-sizing: border-box;
        transform: rotateY(180deg) translateZ(1px);
        backface-visibility: hidden;

        p{ margin: 0}
      }
    }
  }
}
/*--img style end--*/

/*--contrller style start--*/
//整个控制条样式
.controller-nav {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 30px;
  z-index: 101;
  text-align: center;

  @at-root {
    .controller-unit {
      display: inline-block;
      margin: 0 5px;
      width: 30px;
      height: 30px;
      vertical-align: middle;
      cursor: pointer;
      background-color: #aaa;
      border-radius: 50%;

      transform: scale(0.5);
      transition: transform 0.6s ease-in-out, background-color 0.3s;

      &.is-center {
        background-color: #888;
        transform: scale(0.9);

        //伪静态类，用两个冒号
        &::after {
          color: #fff;
          font-family: "icons-turn-arrow";
          font-size: 80%;
          line-height: 30px;
          content: "\e600";
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &.is-inverse {
          background-color: #555;
          transform: rotateY(180deg);
        }
      }
    }
  }
}